@import "tailwindcss";

@theme inline {
  --color-primary: #0c0407;
  --color-secondary: #f7f7f7;
  --color-light-100: #e8e8e8;
  --color-dark-100: #333;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-white text-black font-sans;
  }

  section {
    @apply py-10 md:py-20;
  }

  h1 {
    @apply text-3xl font-bold text-primary;
  }

  h1.title-heading {
    @apply font-semibold text-5xl md:text-7xl lg:text-8xl xl:text-[12rem] leading-[1.1] -tracking-[3px];
  }
}

@layer components {
  .wrapper {
    @apply max-w-7xl mx-auto;
  }

  .btn {
    @apply inline-flex items-center justify-center py-3 px-5 md:px-7 text-white font-medium bg-black rounded-lg hover:bg-black/80 transition-colors duration-300;
  }

  .btn-secondary {
    @apply bg-[#f7f7f7] border-2 border-[#e8e8e8] rounded-4xl uppercase inline-flex items-center justify-center px-4 py-2 font-medium text-xs md:text-base;
  }
}

@layer utilities {
  .slide-fade-enter-active,
  .slide-fade-leave-active {
    transition: opacity 0.3s, transform 0.3s;
  }
  .slide-fade-enter-from,
  .slide-fade-leave-to {
    opacity: 0;
    transform: translateY(-20px);
  }
  .slide-fade-enter-to,
  .slide-fade-leave-from {
    opacity: 1;
    transform: translateY(0);
  }
}
